.container {
    margin: 10px;
}

.board {
    display: flex;
    align-items: center;

    .players {
        display: flex;
        justify-content: space-evenly;

        .player {
            margin: 5px;
            padding: 5px;
        }
    }
}



.table {
    width: 100%;
    margin: 10px;
    border-collapse: collapse;

    &.bordered {
        border: 1px solid rgb(100, 99, 99);

        & td {
            border: 1px solid gray;
        }
    }


    tr.table-header {
        color: black;

        td {
            // title
            font-size: large;
            text-align: center;
        }


    }

    tr {
        color: black;


    }

    tr:first-child {
        border-radius: 10px;
    }

    td {
        padding: 10px;
    }
}